<% if @results %>
  <table class="table table-condensed">
    <tr>
      <th>City</th>
      <th><%= @query.titleize %></th>
      <th></th>
    </tr>

    <% @results.each do |r| %>
      <tr>
        <td><%= r[:city] %></td>
        <td><%= r[@query] %></td>

        <!-- bar graph -->
        <% value = r[@query] / @max_value.to_f * 100 %>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= value %>%">
            </div>
          </div>
        </td>

      </tr>
    <% end %>

  </table>
<% end %>
